*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  display: flex;
  align-items: center;

  height: 3.5em;

  padding-left: 1em;
}

.header h1 {
  margin: 0;
  padding: 0 0 0 0.2em;
}

.logo {
  display: inline;
  height: 60%;
  content:url(https://img.icons8.com/plasticine/2x/rocket.png);
}


.main { 
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.section {
  padding: 0.5em 1em 0 1em;
  height: calc(100vh - 3.5em);
}

.chartTitle {
  display: flex;
  justify-content: space-between;
}

.data {
  background: linear-gradient(270deg, rgba(236,238,241,1) 0%, rgba(250,252,255,1) 20%, rgba(250,252,255,1) 100%);
}

.variables {
  margin-top: 1em;
}

.variableIcon, .icon {
  display: inline;
  padding-right: 0.5em;
}

#chart-container {
  display: flex;
  height: 90%;
  justify-content: center;
}

.commandBar {
  position: fixed;

  width: 50%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(236,238,241,1);
  border-radius: 4px;

  z-index: 1;

  padding: 1em 1em;

  display: flex;
  flex-direction: column;
  align-items: space-between;

}

.commandBar textarea {
  background: transparent;
  border: none;
}

.commandBarHeader {
  display: flex;
  align-items: center;
}

.commandBar h4 {
  padding-left: 0.5em;
  display: inline;
}