*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.main { 
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.data, .chart {
  padding: 0.5em 0.5em 0 1em;
  height: 100vh;
}

.data {
  background: linear-gradient(270deg, rgba(236,238,241,1) 0%, rgba(250,252,255,1) 20%, rgba(250,252,255,1) 100%);
}

.variables {
  margin-top: 1em;
}

.variableIcon {
  display: inline;
  padding-right: 0.5em;
}